<h1>User details</h1>
<ul>
    <li *ngFor="let user of users">
        <p></p>
        <p>Name: {{user.firstName}} {{user.lastName}}</p>
        <p>Email: {{user.username}}</p>
        <p>Mobile Number: {{user.mobileno}}</p>
        <p>Gender: {{user.gender| titlecase}}</p>
        <p>User Notes: {{user.details}}</p>
        <a (click)="deleteUser(user.id)" class="text-danger"><button [disabled]="loading" class="btn btn-primary">Delete</button></a>
    </li>
</ul>
<p><a [routerLink]="['/login']"><button [disabled]="loading" class="btn btn-primary">Logout</button></a></p>
